@charset "UTF-8";
@import "main_login.scss";
.firstblock {
  background-color: var(--color-block);
  width: 60%;
  max-width: 1150px;
  /* height: 300px; */ /* Adjust the height as needed */
  padding: $padding_main;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: $border_rad;
}
