@charset "UTF-8";
@import "main_login.scss";
.login-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--color-text);
  span {
    color: var(--color-orenge);
  }
}

.login-subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--color-text-g);
}

.form-group {
  margin-bottom: 15px;

  .form-control {
    background-color: var(--color-line);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
  }
}

.login-btn {
  background-color: var(--color-orenge);
  color: var(--color-text-w);
  font-size: 18px;
  border-radius: 30px;
  padding: 10px 0;
  width: 100%;
  height: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: var(--color-orenge-act);
  }
  p {
    color: #fff;
  }
}

.registration-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .btn-light {
    background-color: var(--color-line);
    border-radius: 30px;
    padding: 10px 20px;
    color: var(--color-text-g);
    width: 60%;
    height: 50px;
    margin-right: 10px;
    border-color: none;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .btn:focus-visible {
    box-shadow: var(--color-orenge-rgb);
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: var(--color-orenge-act);
    }
  }
  .dots {
    display: flex;
    gap: 3px;

    .dot {
      width: 50px;
      height: 50px;
      background-color: var(--color-orenge);
      border-radius: 50%;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:hover {
        background-color: var(--color-orenge-act);
      }
    }
  }
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background: none;
}
.form-control:focus {
  border-color: var(--color-orenge); /* Указываем желаемый цвет */
  box-shadow: 0 0 0 0.25rem rgba(var(--color-orenge-rgb), 0.4); /* Опционально: настройка тени */
}
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: rgba(var(--color-text-rgb), 0.65);
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
