@charset "UTF-8";
@import "main_login.scss";
.panel {
  background-color: $color_block;
  width: 40%;
  max-width: 1150px;
  /* height: 300px; */ /* Adjust the height as needed */
  padding: $padding_main;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: $border_rad;
  padding-left: 70px;
  padding-right: 70px;
}
