@charset "UTF-8";
@import "main_login.scss";
.anim-1,
.anim-2,
.anim-3,
.anim-4,
.anim-5,
.anim-6,
.anim-7,
.anim-8 {
  opacity: 0;
  animation: fadeIn 0.6s forwards;
}

.anim-1 {
  animation-delay: 0.2s;
}
.anim-2 {
  animation-delay: 0.3s;
}
.anim-3 {
  animation-delay: 0.4s;
}
.anim-4 {
  animation-delay: 0.5s;
}
.anim-5 {
  animation-delay: 0.6s;
}
.anim-6 {
  animation-delay: 0.7s;
}
.anim-7 {
  animation-delay: 0.8s;
}
.anim-8 {
  animation-delay: 0.9s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
