@charset "UTF-8";
@import "main.scss";

.login-title {
  font-size: 24px;
  margin-bottom: 10px;
  .highlight {
    color: #ff6600;
  }
}

.login-subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.form-group {
  margin-bottom: 15px;

  .form-control {
    background-color: #f0f0f0;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
  }
}

.login-btn {
  background-color: #ff6600;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  padding: 10px 0;
  width: 100%;
  height: 50px;
}

.registration-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .btn-light {
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: 10px 20px;
    color: #666;
    width: 60%;
    height: 50px;
    margin-right: 10px;
  }

  .dots {
    display: flex;
    gap: 3px;

    .dot {
      width: 50px;
      height: 50px;
      background-color: #ff6600;
      border-radius: 50%;
    }
  }
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background: none;
}
