@import "main.scss";

.custom-card {
  background-color: $color_block_content;
  border-radius: $border_rad;
  text-align: center;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;

  transition: all $transition-time ease; // Плавные переходы

  &:hover {
    transform: scale(1.05);
  }

  h5 {
    font-weight: 600;
    margin-top: 15px;
  }

  p {
    font-size: 14px;
    color: #6c757d;
  }

  .icon-placeholder {
    width: 50px;
    height: 50px;
    background-color: #000;
    margin: 0 auto;
    border-radius: $border_rad;
  }
}
