@import "main.scss";

.firstblock {
  background-color: $color_block;
  width: 60%;
  /* height: 300px; */ /* Adjust the height as needed */
  padding: $padding_main;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: $border_rad;
}
