@charset "UTF-8";
@import "main.scss";
@import "../color.scss";
.firstblock {
  background-color: var(--color-block);
  width: 60%;
  max-width: 1150px;
  /* height: 300px; */ /* Adjust the height as needed */
  padding: $padding_main;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: $border_rad;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* Мобильные устройства (до 575.98px) */
@media (max-width: 575.98px) {
  /* Стили для мобильных устройств */
  .firstblock {
    background-color: var(--color-block);
    width: 90%;
    max-width: 1150px;
    /* height: 300px; */ /* Adjust the height as needed */
    padding: $padding_main;
    margin: 0 auto;
    margin-top: 4px;
    border-radius: $border_rad;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

/* Планшеты в портретной ориентации (576px - 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Стили для планшетов в портретной ориентации */
  .firstblock {
    background-color: var(--color-block);
    width: 80%;
    max-width: 1150px;
    /* height: 300px; */ /* Adjust the height as needed */
    padding: $padding_main;
    margin: 0 auto;
    margin-top: 4px;
    border-radius: $border_rad;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

/* Планшеты в ландшафтной ориентации (768px - 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Стили для планшетов в ландшафтной ориентации */
  .firstblock {
    background-color: var(--color-block);
    width: 70%;
    max-width: 1150px;
    /* height: 300px; */ /* Adjust the height as needed */
    padding: $padding_main;
    margin: 0 auto;
    margin-top: 4px;
    border-radius: $border_rad;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

/* Небольшие десктопы (992px - 1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Стили для небольших десктопов */
  .firstblock {
    background-color: var(--color-block);
    width: 65%;
    max-width: 1150px;
    /* height: 300px; */ /* Adjust the height as needed */
    padding: $padding_main;
    margin: 0 auto;
    margin-top: 4px;
    border-radius: $border_rad;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
