@charset "UTF-8";
@import "main.scss";
@import "../color.scss";
.news-section {
  h2 {
    font-size: 24px;
    .highlight {
      color: var(--color-orenge);
    }
  }
  .news-content {
    margin-top: 20px;
    .news-page {
      display: none;
      &.active-news {
        display: block;
      }
    }
    .news-item {
      background-color: var(--color-line);
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
    }
  }
  .pagination-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали, если нужно */
    height: 50px; /* Можно задать фиксированную высоту или отрегулировать */
    margin-top: 10px; /* Отступ сверху */
  }

  .pagination {
    display: inline-flex; /* Используем inline-flex для корректного центрирования */
    padding: 5px;
    background-color: var(--color-line);
    border-radius: $border_rad;

    .page-number {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      border-radius: 50%;
      margin: 0 5px;
      background-color: var(--color-block);
      color: var(--color-text);
      cursor: pointer;
      transition: all 0.3s ease;

      .animate {
        opacity: 0;
      }

      &.active-news {
        background-color: var(
          --color-orenge
        ); /* Оранжевый цвет для активной страницы */
        color: var(--color-text-w);

        &.animate {
          opacity: 0;
        }
      }

      &:hover {
        background-color: var(--color-line); /* Цвет при наведении */
        color: var(--color-text);
      }
    }
  }
}

/* Общая анимация появления */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.description,
.title {
  color: var(--color-text);
}
/* Анимации для новостных блоков */
.anim-news-1 {
  animation: fadeInUp 0.2s ease-in-out;
}

.anim-news-2 {
  animation: fadeInUp 0.3s ease-in-out;
}

.anim-news-3 {
  animation: fadeInUp 0.4s ease-in-out;
}

.anim-news-4 {
  animation: fadeInUp 0.5s ease-in-out;
}

.anim-news-5 {
  animation: fadeInUp 0.6s ease-in-out;
}

.anim-news-1-1 {
  animation: fadeInUp 0.3s ease-in-out;
}

.anim-news-2-1 {
  animation: fadeInUp 0.4s ease-in-out;
}

.anim-news-3-1 {
  animation: fadeInUp 0.5s ease-in-out;
}

.anim-news-4-1 {
  animation: fadeInUp 0.6s ease-in-out;
}

.anim-news-5-1 {
  animation: fadeInUp 0.7s ease-in-out;
}
