@charset "UTF-8";
@import "main.scss";
@import "../color.scss";
.input-container {
  z-index: 2;

  align-items: center;
  position: relative; /* Контейнер станет родителем для абсолютного позиционирования */
  background-color: var(--color-line);
  border-radius: 25px; /* Скругление углов контейнера */

  .form-control {
    flex: 1; /* Поле ввода займет все доступное пространство */
    padding-right: 50px; /* Пространство для кнопки */
    background-color: var(--color-line);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px; /* Скругление углов инпута */
  }

  .btn-arrow {
    position: absolute; /* Абсолютное позиционирование для кнопки */
    right: 10px; /* Отступ справа */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(
      -50%
    ); /* Сдвигаем кнопку вверх, чтобы она была по центру */
    background-color: var(--color-orenge);
    border: none;
    border-radius: 50%; /* Круглая кнопка */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 1rem;
      color: var(--color-block);
    }

    &:hover {
      /*  background-color: darken(var(--color-orenge), 10%); */
    }
  }
}

.leftsearch {
  background-color: var(--color-block);
  width: 55%;
  border-radius: 25px; /* Скругление углов для левого блока */
}

.form-group {
  .form-control {
    background-color: var(--color-line);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px; /* Скругление инпута внутри группы */
  }
}
.widthfromsearch {
  width: 92%;
}
.login-btn {
  background-color: var(--color-orenge);
  color: var(--color-text-w);
  font-size: 18px;
  border-radius: 25px; /* Скругление кнопки входа */
  padding: 10px 0;
  width: 100%;
  height: 50px;
}

.registration-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .btn-light {
    background-color: var(--color-line);
    border-radius: 30px; /* Скругление кнопки регистрации */
    padding: 10px 20px;
    color: var(--color-text-w);
    margin-right: 10px;
  }

  .dots {
    display: flex;
    gap: 3px;

    .dot {
      background-color: var(--color-orenge);
      border-radius: $border_rad;
    }
  }
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background: none;
}
.form-control:focus {
  border-color: var(--color-orenge); /* Указываем желаемый цвет */
  box-shadow: 0 0 0 0.25rem rgba(var(--color-orenge-rgb), 0.4); /* Опционально: настройка тени */
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: rgba(var(--color-text-rgb), 0.65);
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
