@charset "UTF-8";
.light-theme {
  --color-bac: #f2f3f5;
  --color-block: #ffffff;
  --color-orenge: #f96c33;
  --color-line: #f2f3f5;
  --color-line-act: #e2e2e2;
  --color-text: #000000;
  --color-text-rgb: 0, 0, 0;
  --color-black: #000000;
  --color-text-g: #4e4a67;
  --color-grem: #4e4a67;
  --color-text-w: #ffffff;
  --color-block-content: #f2f3f5;
  --color-orenge-rgb: 249, 108, 51;
  --color-orenge-act: #ff4800;
}

.dark-theme {
  --color-bac: #2f2e2d;
  --color-block: #262626;
  --color-orenge: #2a8db5;
  --color-line: #2d2e2f;
  --color-line-act: #249ece;
  --color-text: #ffffff;
  --color-text-rgb: 255, 255, 255;
  --color-black: #ffffff;
  --color-text-g: #d9d9d9;
  --color-grem: #a5a5a5;
  --color-text-w: #f6f6f6;
  --color-block-content: #2d2e2f;
  --color-orenge-rgb: 42, 141, 181;
  --color-orenge-act: #249ece;
}

:root {
  --index: calc(1vw + 1vh);
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  /* исправлено */
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  color: var(--color-text);
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
  color: var(--color-text-g);
}

legend {
  display: block;
}

/* обнуление конец */
body {
  background-color: var(--color-bac);
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-theme {
  --color-bac: #f2f3f5;
  --color-block: #ffffff;
  --color-orenge: #f96c33;
  --color-line: #f2f3f5;
  --color-line-act: #e2e2e2;
  --color-text: #000000;
  --color-text-rgb: 0, 0, 0;
  --color-black: #000000;
  --color-text-g: #4e4a67;
  --color-grem: #4e4a67;
  --color-text-w: #ffffff;
  --color-block-content: #f2f3f5;
  --color-orenge-rgb: 249, 108, 51;
  --color-orenge-act: #ff4800;
}

.dark-theme {
  --color-bac: #2f2e2d;
  --color-block: #262626;
  --color-orenge: #2a8db5;
  --color-line: #2d2e2f;
  --color-line-act: #249ece;
  --color-text: #ffffff;
  --color-text-rgb: 255, 255, 255;
  --color-black: #ffffff;
  --color-text-g: #d9d9d9;
  --color-grem: #a5a5a5;
  --color-text-w: #f6f6f6;
  --color-block-content: #2d2e2f;
  --color-orenge-rgb: 42, 141, 181;
  --color-orenge-act: #249ece;
}

.input-container {
  z-index: 2;
  align-items: center;
  position: relative; /* Контейнер станет родителем для абсолютного позиционирования */
  /* background-color: var(--color-line); */
  border-radius: 25px; /* Скругление углов контейнера */
}
.input-container .form-control {
  flex: 1; /* Поле ввода займет все доступное пространство */
  padding-right: 50px; /* Пространство для кнопки */
  background-color: var(--color-line);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px; /* Скругление углов инпута */
}
.input-container .btn-arrow {
  position: absolute; /* Абсолютное позиционирование для кнопки */
  right: 10px; /* Отступ справа */
  top: 50%; /* Центрируем по вертикали */
  transform: translateY(-50%); /* Сдвигаем кнопку вверх, чтобы она была по центру */
  background-color: var(--color-orenge);
  border: none;
  border-radius: 50%; /* Круглая кнопка */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-container .btn-arrow i {
  font-size: 1rem;
  color: var(--color-block);
}
.input-container .btn-arrow:hover {
  /*  background-color: darken(var(--color-orenge), 10%); */
}

.leftsearch {
  background-color: var(--color-block);
  width: 100%;
  border-radius: 25px; /* Скругление углов для левого блока */
  margin: 15px;
}

.form-group {
  /*  top: 6vh; */
}
.form-group .form-control {
  background-color: var(--color-line);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px; /* Скругление инпута внутри группы */
}

.widthfromsearch {
  width: 100%;
}

.login-btn {
  background-color: var(--color-orenge);
  color: var(--color-text-w);
  font-size: 18px;
  border-radius: 25px; /* Скругление кнопки входа */
  padding: 10px 0;
  width: 100%;
  height: 50px;
}

.registration-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.registration-link .btn-light {
  background-color: var(--color-line);
  border-radius: 30px; /* Скругление кнопки регистрации */
  padding: 10px 20px;
  color: var(--color-text-w);
  margin-right: 10px;
}
.registration-link .dots {
  display: flex;
  gap: 3px;
}
.registration-link .dots .dot {
  background-color: var(--color-orenge);
  border-radius: 25px;
}

.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label::after {
  background: none;
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background: none;
}

.form-control:focus {
  border-color: var(--color-orenge); /* Указываем желаемый цвет */
  box-shadow: 0 0 0 0.25rem rgba(var(--color-orenge-rgb), 0.4); /* Опционально: настройка тени */
}

.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  color: rgba(var(--color-text-rgb), 0.65);
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: rgba(var(--color-text-rgb), 0.65);
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.firstblock-box {
  padding: 0;
}

.maps {
  padding: 0;
  margin: 1px;
}
.maps iframe {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

@media (min-width: 1px) and (max-width: 672px) {
  /* Стили для планшетов в портретной ориентации */
  .maps {
    padding: 0;
    margin: 1px;
  }
  .maps iframe {
    border-radius: 25px;
    width: 171%;
    height: 100%;
  }
}/*# sourceMappingURL=searchform.css.map */