@charset "UTF-8";

$default-color: #000000;

.color-picker {
  text-align: center;

  input {
    width: 100%;
    height: 50px;
    border: 2px solid darken($default-color, 10%);
    border-radius: 8px;
  }
}
.color-display {
  height: 200px;
  background-color: $default-color;
  border: 2px solid darken($default-color, 10%);
  border-radius: 8px;
}
.side-menu-left {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1c1c27;
  overflow-y: auto; // Включение вертикальной прокрутки
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 99;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #292936;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
}
/* Стили для полосы прокрутки */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #01015c;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #00cae4;
}

.side-menu-left div {
  text-decoration: none;
  /* font-size: 25px; */
  color: #fff;
  display: block;
  transition: 0.3s;
  background-color: #181826;
  border-bottom: #00dae1;
}
.side-menu-right div {
  text-decoration: none;
  /* font-size: 25px; */
  color: #fff;
  display: block;
  transition: 0.3s;
  background-color: #181826;
  border-bottom: #00dae1;
}
.side-menu-left a {
  transition: 0.3s;
  color: #fff;
}

.side-menu-left a:hover {
  color: #00dae1;
}

.side-menu-left .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Стили для правого меню */
.side-menu-right {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1c1c27;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 99;
}

.side-menu-right a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.side-menu-right a:hover {
  color: #00dae1;
}

.side-menu-right .close-btn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

/* Основной контент */
#main-content {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* Кнопки открытия меню */
.open-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #1c1c27;
  color: white;
  padding: 10px 15px;
  border: none;
  transition: 0.3s;

  &:hover {
    background-color: #000000;
  }
}
.accordion-button {
  background-color: rgb(16, 17, 22);
  border-bottom: #00dae1;

  color: #00dae1;
}
.accordion {
  --bs-accordion-border-color: none;
}
.accordion {
  size: 1px;
}
.form-control {
  padding: 0;
}
.accordion-body {
  padding: 0;
  padding-bottom: 5px;
}
.pages-content > div,
.side-menu-left > div {
  display: none;
}

/* Показываем активный контент для страниц и меню */
.pages-content > div.active-pages,
.side-menu-left > div.active-content {
  display: block;
}
