@charset "UTF-8";
.light-theme {
  --color-bac: #f2f3f5;
  --color-block: #ffffff;
  --color-orenge: #f96c33;
  --color-line: #f2f3f5;
  --color-line-act: #e2e2e2;
  --color-text: #000000;
  --color-text-rgb: 0, 0, 0;
  --color-black: #000000;
  --color-text-g: #4e4a67;
  --color-grem: #4e4a67;
  --color-text-w: #ffffff;
  --color-block-content: #f2f3f5;
  --color-orenge-rgb: 249, 108, 51;
  --color-orenge-act: #ff4800;
}

.dark-theme {
  --color-bac: #2f2e2d;
  --color-block: #262626;
  --color-orenge: #2a8db5;
  --color-line: #2d2e2f;
  --color-line-act: #249ece;
  --color-text: #ffffff;
  --color-text-rgb: 255, 255, 255;
  --color-black: #ffffff;
  --color-text-g: #d9d9d9;
  --color-grem: #a5a5a5;
  --color-text-w: #f6f6f6;
  --color-block-content: #2d2e2f;
  --color-orenge-rgb: 42, 141, 181;
  --color-orenge-act: #249ece;
}

:root {
  --index: calc(1vw + 1vh);
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  /* исправлено */
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  color: var(--color-text);
  transition: all 0.3s ease;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
  color: var(--color-text-g);
  transition: all 0.3s ease;
}

legend {
  display: block;
}

/* обнуление конец */
body {
  background-color: var(--color-bac);
  /*   transition: all 0.3s ease; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.question {
  position: relative;
  width: 100%;
}
.question .button_qw {
  width: 49%;
}

span {
  color: var(--color-orenge);
}

.tabs {
  display: flex;
  /*  margin-top: 1rem; */
}
.tabs .tab-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.tabs .tab-group .but_con {
  border-radius: 25px;
  background-color: var(--color-block-content);
  color: var(--color-text);
  z-index: 1;
}
.tabs .tab-group .tab {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background-color: var(--color-block-content);
  color: var(--color-text);
  z-index: 1;
  transition: all 0.3s ease;
}
.tabs .tab-group .tab.active {
  background-color: var(--color-orenge);
  color: var(--color-text-w);
  z-index: 2;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.tabs .tab-group .tab.active:hover {
  background-color: var(--color-orenge-act);
}
.tabs .tab-group + .tab-group {
  margin-left: 0.5rem;
}

.tab-test {
  background-color: var(--color-line);
  width: 100%;
  border-radius: 25px;
}

.tab {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background-color: var(--color-block-content);
  color: var(--color-text);
  z-index: 1;
  transition: all 0.3s ease;
}
.tab.active {
  background-color: var(--color-orenge);
  color: #fff;
  z-index: 2;
  transition: all 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.tab.active p {
  color: #fff;
}
.tab.active:hover {
  background-color: var(--color-orenge-act);
}

.but_con {
  border-radius: 25px;
  background-color: var(--color-block-content);
  color: var(--color-text);
  z-index: 1;
}

.tab-test {
  border-radius: 25px;
}
.tab-test.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0px;
  color: #fff;
  box-shadow: 0 10px 1px 0px var(--color-block-content);
}

.drop-content {
  background-color: var(--color-block-content);
  border-color: var(--color-block-content);
  position: relative;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  /* margin-top: -10px; */
  transition: all 0.3s ease;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.drop-content p {
  text-align: center;
}

.orange-line {
  width: 90%; /* Линия занимает 80% от ширины блока */
  height: 3px; /* Высота линии */
  background-color: var(--color-orenge); /* Цвет линии */
  margin: 0 auto; /* Центрирование линии */
  border-radius: 25px;
}

/* Общая анимация появления */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Анимации для блоков */
.anim-drop-1 {
  animation: fadeInUp 0.2s ease-in-out;
}

.anim-drop-2 {
  animation: fadeInUp 0.3s ease-in-out;
}

.anim-drop-3 {
  animation: fadeInUp 0.4s ease-in-out;
}

.anim-drop-1-1 {
  animation: fadeInUp 0.4s ease-in-out;
}

.anim-drop-2-1 {
  animation: fadeInUp 0.5s ease-in-out;
}

.anim-drop-3-1 {
  animation: fadeInUp 0.4s ease-in-out;
}

.anim-drop-4-1 {
  animation: fadeInUp 0.4s ease-in-out;
}

.anim-drop-5-1 {
  animation: fadeInUp 0.4s ease-in-out;
}/*# sourceMappingURL=question.css.map */