
  $color_bac: #0055ff;
  $color_block: #c20000;
  $color_orenge: undefined;
  $color_orenge_rgb: undefined;
  $color_line: undefined;
  $color_text: undefined;
  $color_text_g: undefined;
  $color_grem: undefined;
  $color_text_w: undefined;
  $color_block_content: undefined;
  $border_rad: undefined;
  $padding_main: undefined;
  $transition_time: undefined;
  