@charset "UTF-8";
@import "main_account.scss";
.form-container {
  .btn-orange {
    background-color: var(--color-orenge);
    color: var(--color-text-w);
    border-radius: $border_rad;
    /* padding: 10px 30px; */
    border: none;
    font-size: 16px;
    cursor: pointer;
    P {
      color: #fff;
    }

    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: var(--color-orenge-act);
    }
  }
}

.login-subtitle {
  /*   margin-bottom: 20px; */
  font-size: 14px;
  color: var(--color-text-g);
}

.form-group {
  margin-bottom: -10px;

  .form-control {
    background-color: var(--color-line);
    border: none;
    border-radius: $border_rad;
    /* padding: 10px 20px; */
    font-size: 16px;
  }
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background: none;
}
.form-control:focus {
  border-color: var(--color-orenge); /* Указываем желаемый цвет */
  box-shadow: 0 0 0 0.25rem rgba(var(--color-orenge-rgb), 0.4); /* Опционально: настройка тени */
}
