@charset "UTF-8";
@import "main_account.scss";
.pas-but {
  background-color: var(--color-orenge);
  border-radius: $border_rad;
  width: auto;
  height: auto;
  text-align: center;
  color: var(--color-text-w);
  padding: 12px;

  .pas-but-text {
    margin-top: 5px;
  }
}
