@charset "UTF-8";
@import "main_account.scss";
.product-info-container {
  h4 {
    font-weight: bold;
    /*  margin-bottom: 10px; */

    span {
      color: var(--color-orenge);
    }
  }

  .instructions {
    font-size: 12px;
    color: var(--color-text-g);
    /* margin-bottom: 10px; */
  }

  .form-control {
    border-radius: $border_rad;
  }

  .btn-orange {
    background-color: var(--color-orenge);
    color: white;
    border-radius: $border_rad;
    /*  padding: 10px 30px; */
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 35px;

    &:hover {
      background-color: #e04f1f;
    }
  }
  .form-container {
    .btn-orange {
      background-color: var(--color-orenge);
      color: var(--color-text-w);
      border-radius: $border_rad;
      /*  padding: 10px 30px; */
      border: none;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #e04f1f;
      }
    }
  }

  .login-subtitle {
    /*   margin-bottom: 20px; */
    font-size: 14px;
    color: var(--color-text-g);
  }
  .text-left {
    margin-top: -20px;
    padding: 1px;
  }

  .form-group {
    /*    margin-bottom: -10px;
    margin-left: -20px; */
    /*  margin-right: -20px; */
    margin-top: 15px;

    .form-control {
      background-color: var(--color-line);
      border: none;
      border-radius: $border_rad;
      /*  padding: 10px 20px; */
      font-size: 16px;
    }
  }

  .form-floating > .form-control-plaintext ~ label::after,
  .form-floating > .form-control:focus ~ label::after,
  .form-floating > .form-control:not(:placeholder-shown) ~ label::after,
  .form-floating > .form-select ~ label::after {
    background: none;
  }
  .form-control:focus {
    border-color: var(--color-orenge); /* Указываем желаемый цвет */
    box-shadow: 0 0 0 0.25rem rgba(249, 108, 51, 0.4); /* Опционально: настройка тени */
  }
}
