@charset "UTF-8";
/* root */
:root {
  --index: calc(1vw + 1vh);
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  /* исправлено */
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* обнуление конец */
body {
  background-color: #f2f3f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.product-info-container h4 {
  font-weight: bold;
  /*  margin-bottom: 10px; */
}
.product-info-container h4 span {
  color: #f96c33;
}
.product-info-container .instructions {
  font-size: 12px;
  color: #4e4a67;
  /* margin-bottom: 10px; */
}
.product-info-container .form-control {
  border-radius: 25px;
}
.product-info-container .btn-orange {
  background-color: #f96c33;
  color: white;
  border-radius: 25px;
  /*  padding: 10px 30px; */
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 35px;
}
.product-info-container .btn-orange:hover {
  background-color: #e04f1f;
}
.product-info-container .form-container .btn-orange {
  background-color: #f96c33;
  color: #ffffff;
  border-radius: 25px;
  /*  padding: 10px 30px; */
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.product-info-container .form-container .btn-orange:hover {
  background-color: #e04f1f;
}
.product-info-container .login-subtitle {
  /*   margin-bottom: 20px; */
  font-size: 14px;
  color: #4e4a67;
}
.product-info-container .text-left {
  margin-top: -20px;
  padding: 1px;
}
.product-info-container .form-group {
  /*    margin-bottom: -10px;
  margin-left: -20px; */
  /*  margin-right: -20px; */
  margin-top: 15px;
}
.product-info-container .form-group .form-control {
  background-color: #f2f3f5;
  border: none;
  border-radius: 25px;
  /*  padding: 10px 20px; */
  font-size: 16px;
}
.product-info-container .form-floating > .form-control:not(:-moz-placeholder-shown) ~ label::after {
  background: none;
}
.product-info-container .form-floating > .form-control-plaintext ~ label::after,
.product-info-container .form-floating > .form-control:focus ~ label::after,
.product-info-container .form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.product-info-container .form-floating > .form-select ~ label::after {
  background: none;
}
.product-info-container .form-control:focus {
  border-color: #f96c33; /* Указываем желаемый цвет */
  box-shadow: 0 0 0 0.25rem rgba(249, 108, 51, 0.4); /* Опционально: настройка тени */
}/*# sourceMappingURL=product-info.css.map */