@charset "UTF-8";
@import "main_account.scss";
.prof-but {
  background-color: var(--color-orenge);
  border-radius: $border_rad;
  width: auto;
  height: auto;
  text-align: center;
  color: var(--color-text-w);
  padding: 5px;

  .prof-but-text {
    margin-top: 0px;
  }
}
